<section class="staticPage_header">
	<img class="img-fullWidth" src="/images/about_us_front.jpg">
	<h1>Dedicated for hardcore travelers</h1>
	<p>
		Traveling is one of the best part of our lifes. Almost everyone shares a piece of travel experience on social networks. And we tend to share only the best moments.
	</p>
	<p>
	    Unfortunately, traveling is becoming more mainstream and monotonic. Although different countries and cities preserve different cultures and activities, tourism mainly consists of visiting some churches, museums and eating in overpriced restaurants for toursists only. 
	</p>
	<p>
	    To enhance traveling experience Sofaban proposes a bit different approach. Focus more on actions in particular country than on country itself.
	</p>
	<p>
	    Instead of visiting old churches in Paris, take Tour de Mont Blanc. Instead of being harrased on the streets of Marrakech, rent a car and drive on one of the most scenic roads in Atlas mountains.
	</p>
	<p>
	    If you lack inspiration, we are here for you. Check Sofaban's feed from time to time. Here you don't only get ideas. Other travelers will give you courage to try this new approach as well.  
	</p>
	<p>
	    Be ready to intensify your travel experience!
	</p>
</section>