<section class="staticPage_header">
	<img class="img-fullWidth" src="/images/join_us_front.jpg">
	<h1>Share your travel experience within us!</h1>
	<p>
		Do you want to share your extraordinary travel actions? Being an author at Sofaban enables you to share to more people than just your friends. Write us and prepare to tell the world your amazing travel experiences. 
	</p>
</section>

{{#if enquirySubmitted}}
<h3>That's the first step towards the great Sofaban Adventurer!</h3>
{{else}}
<form method="post">
	<input type="hidden" name="action" value="contact">
	<div class="inputGroup">
		<label>Name</label>
		<input type="text" name="name.full" value="{{formData.[name.full]}}" required>
	</div>
	<div class="inputGroup">
		<label>Email</label>
		<input type="email" name="email" value="{{formData.email}}" required>
	</div>
	<div class="inputGroup-textarea">
		<label>Why would you like to join us?</label>
		<textarea name="message" required>{{formData.message}}</textarea>
	</div>
	<button type="submit" class="btn" style="margin: 0">Send</button>
</form>
{{/if}}
{{!--{{#if validationErrors.message}}has-error{{/if}}--}}
