<div class="browse_list">
    <p>Actions</p>
    <ul>
        <li><a href="/blog/hiking"><svg class="icon"><use xlink:href="/images/iconset.svg#hiking"/></svg>Hiking</a></li>
        <li><a href="/blog/relax"><svg class="icon"><use xlink:href="/images/iconset.svg#relax"/></svg>Relax</a></li>
    </ul>
</div>