<div class="browse_list">
    <p>Countries</p>
    <ul>
        <li><a href="/blog/argentina"><span class="flag-icon flag-icon-ar"></span>Argentina</a></li>
        <li><a href="/blog/italy"><span class="flag-icon flag-icon-it"></span>Italy</a></li>
        <li><a href="/blog/maldives"><span class="flag-icon flag-icon-mv"></span>Maldives</a></li>
        <li><a href="/blog/morocco"><span class="flag-icon flag-icon-ma"></span>Morocco</a></li>
        <li><a href="/blog/peru"><span class="flag-icon flag-icon-pe"></span>Peru</a></li>
        <li><a href="/blog/uk"><span class="flag-icon flag-icon-gb"></span>United Kingdom</a></li>
    </ul>
</div>