<div class="browse_list">
    <p>Countries</p>
    <ul>
        <li><a href="/blog/italy"><span class="flag-icon flag-icon-it"></span>Italy</a></li>
        <li><a href="/blog/maldives"><span class="flag-icon flag-icon-mv"></span>Maldives</a></li>
        <li><a href="/blog/peru"><span class="flag-icon flag-icon-pe"></span>Peru</a></li>
    </ul>
</div>